.page-title {
  font-size: 2em;
  font-weight: 600;
}
.like-btn {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.heart-img {
  width: auto;
  height: 100%;
}

.story-card {
  box-shadow: 2px 2px 4px #eee;
  cursor: pointer;
}
